
h1{
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	
}

h1.Resumetitle{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 20px;
	display: block;	
	padding: 0px 100% 0px 10px;
}



h2{
	color: #EEEEEE;
	max-width: 500px;
	display: block;
	padding: 0px 0px 0px 20px;
	font-size: 20px;

}

h2.size1{
	color: #EEEEEE;
	max-width: 500px;
	display: block;
	padding: 0px 0px 0px 20px;
	font-size: 10px;
}

p.bio{
	text-indent: 10px;
	color: #EEEEEE;
	max-width: 500px;
	display: block;
	padding: 0px 65px 15px 10px;
	font-size: 11px;

}

p.resume{
	
	color: #EEEEEE;
	max-width: 500px;
	display: block;
	padding: 0px 0px 0px 10px;
	font-size: 16px;

}

p{
	color: #EEEEEE;
	display: block;
	padding: 0px 0px 0px 10px;
	font-size: 12px;
}


h3.category{

	font-family: Impact, Charcoal, sans-serif;
	font-size: 18px;
	color: #3e4948;
	display: block;	
	padding: 10px 100% 0px 10px;

}

img.propic{
position: fixed;
top: 120px;
left: 0px;
max-width: 150px;
max-height: 300px;
}

.rbutton {


	display: block;	
	max-width:80px;
	margin: 10px 0px 10px 80%;
	border-top: 1px solid #96d1f8;
	background: #65d6d6;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e9c7d), to(#65d6d6));
	background: -webkit-linear-gradient(top, #3e9c7d, #65d6d6);
	background: -moz-linear-gradient(top, #3e9c7d, #65d6d6);
	background: -ms-linear-gradient(top, #3e9c7d, #65d6d6);
	background: -o-linear-gradient(top, #3e9c7d, #65d6d6);
	padding: 5px 10px;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #182f42;
	font-size: 10px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
}
.rbutton:hover {
   border-top-color: #52bab1;
   background: #52bab1;
   color: #1b4394;
   }
.rbutton:active {
   border-top-color: #221b5c;
   background: #221b5c;
   }

.bbutton {


	display: block;	
	max-width: 40px;
	margin: 45px 0px 10px 80%;
	border-top: 1px solid #96d1f8;
	background: #65d6d6;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e9c7d), to(#65d6d6));
	background: -webkit-linear-gradient(top, #3e9c7d, #65d6d6);
	background: -moz-linear-gradient(top, #3e9c7d, #65d6d6);
	background: -ms-linear-gradient(top, #3e9c7d, #65d6d6);
	background: -o-linear-gradient(top, #3e9c7d, #65d6d6);
	padding: 5px 10px;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #182f42;
	font-size: 10px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
}

.bbutton:hover {
border-top-color: #52bab1;
background: #52bab1;
color: #1b4394;
}
.bbutton:active {
border-top-color: #221b5c;
background: #221b5c;
}

body{
	background-size: 550px 325px;

	background-image:url("Portfoliowallpaper.jpg");
	background-repeat:repeat;
}